
.full_w_h{height: 100%;width: 100%};
#J_Main{height: 100%};
.adaption-auto{height: 100%;overflow: hidden;}
img{width: 100%}
html{width: 100%;height: 100%;}
body{width: 100%;height: 100%;}

@media print {
  //html{height:inherit !important;}
  //body{height:inherit !important;}
  //#J_Main{height:inherit !important;};
  //.adaption-auto{height:inherit !important;overflow: inherit!important;}
  //.g-topnav{display: none!important;};
  //.g-mainnav{display: none!important;};
  //.g-content{height: auto!important;margin: 0!important;padding: 0!important;width: 100%!important;};
}





//-----------公共模块-----------begin
.g-topnav{.g-topnav();}
.g-mainnav{.g-mainnav();}
.g-content{.g-content();}
//打印模块
.g-print{.g-print()}
//界面模块
.m-login-view{.m-login-page();}
//自适应表格布局
.u-grid-table{.u-grid-table();}
//图片上传
.u-upload-image{ .u-upload-image() }
//日历
.u-datepicker-box{ .datepicker(); }
//分页
.u-page-box{.u-page-box();}
//角色菜单选择
.u-menu-select{.u-menu-select-2();}
//搜索模块样式
.u-sift-box{.u-sift-box();}
//选择记录-带筛选
.u-item-find{.u-item-find();}

//-----------公共模块-----------end

//-----------定制模块-----------begin
//3D方案详情
.custom-case-edit{.custom-case-edit();}
//道具详情
.custom-prop-box{.custom-prop-box();}
//3D方案部分分类.
.custom-case-assign{.custom-case-assign();}
//-----------定制模块-----------end


