@g-header-h:40px;
//3D方案详情
.custom-case-edit(){
  @border-color:@table-border-color;
  min-width: 900px;
  max-width: 1500px;
  background-color: #f0f0f0;
  border: 1px solid @border-color;
  .case-detail-box{
    height: 250px;
    border-bottom: 1px solid @border-color;
    @photo-w:300px;
    .header{
      position: relative;
      .ctl-btn-box{
        position: absolute;
        right: 3px;
        top: 3px;
        .btn{
          min-width: 120px;
          .btn-info();
        }
      }
    }
    .case-info-list{
      width: calc(100% - @photo-w);
      height: 100%;
      position: relative;
      ul{
        padding: 10px;
        li{
          display: inline-block;
          padding: 4px 8px;
          min-width: 200px;
          //.title{min-width: 60px;display: inline-block;text-align: right}
          //.text{}
        }
      }
    }
    .case-photo-group{
      height: 100%;
      overflow: hidden;
      width: @photo-w;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  .workaround-box{
    height: 600px;
    position: relative;
    &{
      .item-list-box{
        height: 100%;
        width: 25%;
        position: absolute;
        left: 0;
        top:0;
        border-right: 1px solid @border-color;
      }
      .item-detail-box{
        height: 65%;
        width: 35%;
        position: absolute;
        left: 25%;
        top:0;
        border-right: 1px solid @border-color;
      }
      .photo-box{
        height: 65%;
        width: 40%;
        position: absolute;
        right: 0;
        top:0;
      }
      .component-box{
        height: 35%;
        width: 75%;
        position: absolute;
        right: 0;
        bottom:0;
        border-top: 1px solid @border-color;
      }
    }

    .item-detail-box{
      .form-group{
        margin-bottom: 0;
        .input-group{
          .input-group-addon{
            min-width: 85px;
          }
          .input-group-addon,.form-control{
            border-radius: 0;
            border-top-style: none;
            font-size: 12px;
          }
        }
        textarea{
          min-height: 80px;
        }
      }
    }
    .item-list-box{
      //.u-menu-select-2();
      &{
        @li-h:20px;
        //文字前面留空隙
        @select-bg: #f0f0f0;
        @bdr-color:#d6d6d6;
        @text-font:12px;
        @before-size:16px;
        @before-border-size:2px;
        @text-color:#fff;
        @active-text-color: #fff;
        @text-bg-color:#6AA3D5;
        @fold-color:#000;
        @check-color:#666;
        .menu-title{
          margin-bottom: 5px;
          .title{
            font-size: @font-size-h5;
          }
        }
        .menu-select{
          max-height: 45vh;
          min-height: 200px;
          overflow-y: auto;
          overflow-x: hidden;
          -webkit-overflow-scrolling: touch;
          .menu-select();
        }
        //列表布局
        .menu-select(){
          border-radius: 5px;
          border: 1px solid @bdr-color;
          background-color: @select-bg;
          height: 100%;
          padding-top: 5px;
          margin-left: 3px;
          .main-menu{
            .square(100%);
            li{
              position: relative;
              padding-left: 20px;
              .select-btn{
                .glyphicon();
                background-color: #ccc;
                border-radius: 2px;
                border: 1px solid #999999;
                position: absolute;
                .square((@before-size));
                top: (@li-h -  @before-size + 2px);
                left: (@li-h -  @before-size);
                &:before{
                  color: @check-color;
                  content:"";
                };
              }
              &.active >.select-btn:before{content:"\e013";}
              .title{
                cursor:pointer;
                position: relative;
                display: inline-block;
                font-size: @text-font;
                margin: ((@li-h - @before-size)/2);
                padding: (@before-size - @text-font) ((@before-size - @text-font)*2);
                line-height: @before-size;
                color: @text-color;
                background-color:@text-bg-color;
                border-radius: 4px;
              }
              &.active>.title,>.title:hover,>.title:active{color: @active-text-color;}
              ul{ height: 0;;overflow: hidden}
              &.unfold >ul{height: auto;}
            }
            .item-menu{
              >.title{
                background-color: @text-bg-color;
                &:before{
                  .glyphicon();
                  display: inline-block;
                  margin-right: 3px;
                  margin-top: 1px;
                  color: @fold-color;
                  content:"\e081";
                };
              }
              &.unfold >.title:before { content:"\e082";  }
            }
          }
          .main-menu{
            li{
              &:before{
                content: "";
                display: block;
                position: absolute;
                width: 100px;
                height: (@li-h + (@li-h - @before-size));
                top: 0;
                left: 0;
                z-index: 0;
              }
            }
          }
        }
      }
    }
    .photo-box{
      .prop-photo{
        width: 100%;
        height: 100%;
        .displayFlex();
        .justifyContentCenter();
        .alignItemsCenter();
        img{
          width: auto;
          height: auto;
          max-height: 100%;
          max-width: 100%;
        }
      }
    }
    .component-box{
      table{
        input{
          background-color: transparent;
          &.price{
            width: 60px;
          }
        }
      }
    }
  }
  .u-header-body();
  .body{
    height: calc(100% - @g-header-h);
    overflow: auto;
  }
}



.custom-prop-box(){
  border: 1px solid @table-border-color;
  background-color: #f0f0f0;
  border-radius: 4px;
  .u-header-body();
  margin-bottom: 20px;
  .body{
    padding: 20px;
    .clearfix();
  }
  .form-group{
    margin-right: 40px;
    float: left;
    >.input-group,>fieldset>.input-group{
      max-width: 400px;
      margin-bottom: 10px;
    }
  }
  .u-upload-image{
    float: left;
    .u-upload-image(400px;300px;)
  }
}



.u-upload-image(@photo-w;@photo-h;){
  @radius-size:4px;
  border: 1px solid @table-border-color;
  border-radius: @radius-size;
  .photo-box{.size(@width:@photo-w;@height:@photo-h;)}
  .upload-box{
    padding: @radius-size;
    border-bottom: 1px solid @table-border-color;
    .displayFlex();
    .alignItemsCenter();
    &{
      .select-btn{
        .order(1);
        .btn();
        .btn-info();
        .btn-sm();
      }
      input[type="file"]{
        display: none;
      }
      .file-path{
        padding-left: 10px;
        .order(2);
        .flex(1);
        width: 100%;
        background-color: transparent;
      }
      .upload-btn{
        .order(3);
        .btn();
        .btn-info();
        .btn-sm();
      }
    }
  }
  .photo-box{
    .max-square(100%);
    margin: auto;
    padding: @radius-size;
    .displayFlex();
    .justifyContentCenter();
    .alignItemsCenter();
    img{
      .max-square(100%);
      .square(auto);
    }
  }
}
