@g-topnav-h: 50px;
@g-mainnav-w: 200px;
.textAlignJustify() {
  text-align: justify;
  &:after {
    content: "";
    display: inline-block;
    padding-left: 100%;
  }
}

.u-header-body() {
  .header {
    height: @g-header-h;
    position: relative;
    background-color: @theme-header-color;
    >span {
      font-size: @theme-table-title-font-size;
      margin-left: 10px;
      line-height: @g-header-h;
    }
    .ctl-btn-box {
      position: absolute;
      right: 0;
      top: 0;
      .g-btn-box(@g-header-h);
    }
    border-bottom: 1px solid @theme-table-border-color;
  }
  .body {
    position: relative;
  }
  .footer {
    height: @g-header-h;
    border-top: 1px solid @theme-table-border-color;
  }
}

.loading-shade-box {
  position: absolute;
  z-index: @zindex-popover;
  top: 0;
  left: 0;
  background-color: fade(#000000, 40%);
  .square(100%);
  .displayFlex();
  .justifyContentCenter();
  .alignItemsCenter();

  .loading-ico {
    .square(60px);
    .res-loading();
  }

  &.lg-img .loading-ico {
    .square(200px);
  }
}

.p-noprint {
  display: none;
}

.p-page-next {
  page-break-before: always;
}

.u-barcode {
  margin: 6px auto 0;
}

.g-print() {
  position: absolute;
  z-index: 100000;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: #fff;

  &.a4 .print-preview {
    width: 210mm;
    margin-left: auto;
    margin-right: auto;
    .page-box {
      min-height: 297mm;
    }
  }

  .print-preview {
    .page-box {
      page-break-after: always;
    }
    .info-header-box {
      margin-bottom: 10px;
      ul {
        height: 100%;
        .displayFlex();
        .flexWrapWrap();
        align-content: flex-start;
        li {
          .clearfix();
          display: inline-block;
          padding: 8px;
          width: 33.33%;
          border: 1px solid @btn-default-border;
          border-left-style: none;
          border-top-style: none;
          &:nth-child(3n + 1) {
            border-left-style: solid;
          }
          &:nth-child( -n + 3) {
            border-top-style: solid;
          }

          span {
            font-size: @font-size-h5;
            line-height: @font-size-h4;
          }
          .title {
            color: #999;
            float: left;
            margin-right: 5px;
          }
          .text {
            float: right;
            font-size: @font-size-h4;
          }

        }
      }
      & {
        @title-w: 85px;
        .displayFlex();
        .flexDirectionColumn();
        .input-group-addon {
          min-width: @title-w;
        }

        .form-group {
          .displayFlex();
          .flexWrapWrap();
          > .input-group {
            margin: 0;
            display: inline-table;
            width: 33.33%;
            > * {
              border-radius: 0;
            }
            .input-group-btn,
            .input-group-addon,
            .form-control {
              border-style: none;
              .btn {
                border-radius: 0;
              }
            }
            .input-group-addon {
              border-right: 1px solid @btn-default-border;
            }
            border: 1px solid @btn-default-border;
            border-right-style: none;
            border-bottom-style: none;
            &:nth-child(-n+3) {
              border-top-style: none;
            }
            &:nth-child(3n+1) {
              border-left-style: none;
            }
          }
          margin: 0;
          padding: 0;
        }
        .textarea-box {
          border-top: 1px solid @btn-default-border;
          .flex(1);
          position: relative;
          overflow: hidden;

          .title {
            .displayFlex();
            .alignItemsCenter();
            .justifyContentCenter();
            border-right: 1px solid @btn-default-border;
            width: @title-w;
            height: 100%;
            font-size: @font-size-h5;
            border-radius: 0;
          }
        ;
          .form-control {
            max-height: 100%;
            .flex(1);
            height: 100%;
            border-radius: 0;
            border-style: none;
          }
        }
      }
    }
    .p-prices-box {
      padding: 10px 0 10px 60mm;
      margin: 20px auto;
      text-align: center;
      position: relative;
      border: 1px solid @btn-default-border;
      > .header > .column-name,
      > .body > ul li {
        .displayFlex();
        margin: 4px 0;
        padding: 4px 0;

        span {
          height: 30px;
          .flex(1);
          overflow: hidden;
          text-align: center;
          .displayFlex();
          .justifyContentCenter();
          .alignItemsCenter();
        }
        &.sum-price {
          border-top: 1px solid @btn-default-border;
          .name {
            .flex(2);
            font-size: @font-size-h4;
          }
        }
      }
      > .header {
        height: auto;
        border-bottom: 1px solid @btn-default-border;
        .title-box {
          position: absolute;
          left: 20mm;
          top: 50%;
          margin-top: -20px;
        }
        .title {
          font-size: @font-size-h3;
          line-height: 40px;
          display: block;
          text-align: center;
        }
        .column-name {
          span {
            font-size: @font-size-h5;
          }
        }
      }
      > .body {
        ul {
          li {
            margin-top: 5px;
            margin-bottom: 5px;
            span {
              font-size: @font-size-h5;
            }
            .flexWrapWrap();
            ul {
              width: 100%;
              .flex(auto);
              border: 1px dotted @table-border-color;
              li {
                margin: 0;
                .glyphicon {
                  text-align: left;
                }
              }
              margin: 10px 10px 20px 30px;
            }

          }
        }
      }
    }
    .p-grid-table {
      //表格样式和线条
      table {
        //border: 1px solid @table-border-color;
        width: 100%;
        max-width: 100%;
        margin-bottom: @line-height-computed;
        // Cells
        > thead,
        > tbody,
        > tfoot {
          > tr {
            > th,
            > td {
              padding: 2px;
              line-height: @line-height-base;
              vertical-align: top;
              border: 1px solid @table-border-color;
            }
          }
        }
        // Bottom align for column headings
        > thead > tr > th {
          vertical-align: bottom;
          border-bottom: 2px solid @table-border-color;
        }
        // Remove top border from thead by default
        > caption + thead,
        > colgroup + thead,
        > thead:first-child {
          > tr:first-child {
            > th,
            > td {
              //border-top: 0;
            }
          }
        }
        // Account for multiple tbody instances
        > tbody + tbody {
          //border-top: 2px solid @table-border-color;
        }

        // Nesting
        .table {
          background-color: @body-bg;
        }
      }

      //表格自定义样式调整
      table {
        thead {
          .col {
            text-align: center;
          }
        }
        tbody {
          .row {
            .col {
              vertical-align: middle;
              height: auto;
              input {
                .square(100%);
              }
            }
          }
          .area-row {
            text-align: center;
            .col {
              font-size: @font-size-h4;
              padding: 6px 12px;
              &:before {
                content: '\e062';
                .glyphicon();
              }
            }
          }
          .item-top {
            page-break-before: always;
            .col:first-child {
              text-align: center;
              font-size: 16px;
            }
          }
          .sum-price {
            .col {
              font-size: @font-size-h4;
              &:first-child {
                //'\00a5' ￥
                text-align: center;
                &:before {
                  content: '\00a5';
                  .glyphicon();
                }
              }
            }
          }
        }
        tfoot {

        }
      }
    }
    .p-attendance {
      table {
        @border-color: #000;
        @color: #000;
        //border: 1px solid @table-border-color;
        width: 100%;
        max-width: 100%;
        margin-bottom: @line-height-computed;
        // Cells
        > thead,
        > tbody,
        > tfoot {
          > tr {
            > th,
            > td {
              padding: 2px;
              line-height: @line-height-base;
              vertical-align: middle;
              border: 1px solid @border-color;
              color: @color;

            }
          }
        }
        // Bottom align for column headings
        > thead > tr > th {
          vertical-align: bottom;
          border-bottom: 1px solid @border-color;
        }
        // Remove top border from thead by default
        > caption + thead,
        > colgroup + thead,
        > thead:first-child {
          > tr:first-child {
            > th,
            > td {
              //border-top: 0;
            }
          }
        }
        // Account for multiple tbody instances
        > tbody + tbody {
          //border-top: 2px solid @table-border-color;
        }

        // Nesting
        .table {
          background-color: @body-bg;
        }
      }
      .grid-top {
        text-align: center;
        margin-bottom: 10px;
        span {
          font-size: 30px;
          font-weight: bold;
          line-height: 40px;
        }
      }
      .grid-table {
        margin: 0;
        .grid-thead {
          .row:nth-child(1) {
            .col {
              font-size: 28px;
              font-weight: bold;
              line-height: 30px;
            }
          }
          .row:nth-child(2) {
            .state-list {
              .displayFlex();
              li {
                text-align: left;
                padding: 4px 12px;
                font-size: 24px;
                line-height: 26px;
                .flex(1);
              }
            }
          }
          .row:nth-child(3) {
            .col-name {
              width: 6%;
            }
            .col-date {
              width: 11%;
            }
            .col-week {
              width: 9%;
            }
            .col-sign-in-time {
              width: 11%;
            }
            .col-return-time {
              width: 11%;
            }
            .col-remark {
              width: 52%;
            }
            .col {
              font-size: 18px;
              line-height: 20px;
            }
          }
        }
        .row .col {
          text-align: center;
          font-size: 16px;
          line-height: 16px;
          padding-top: 5px;
          padding-bottom: 5px;

          &.name {
            font-size: 28px;
            font-weight: bold;
            padding: 6px;
            line-height: 40px;
          }
        }
      }
      .grid-buttom {
        span {
          padding: 4px;
          font-size: 16px;
        }
      }
    }
    .p-print-model{
      @m-border:1px solid #000;
      @p-border:1px solid #999;
      .setSpace(){
        padding-bottom: 5px;
        margin-bottom: 5px;
        border-bottom: @m-border;
      }
      >.title-box{
        text-align: center;
        h2{margin-bottom: 5px;}
        h4{letter-spacing: 30px;}
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 3px solid #000;
      }
      >.info-list{
        ul{
          .displayFlex();
          .justifyContentSpaceBetween();
          .flexWrapWrap();
          .setSpace();
          padding: 0 10px;
          li{
            .displayFlex();
            width: 50%;
            >*{
              font-size: 14px;
              line-height: 30px;
              height: 30px;
              margin: 0;
              padding: 0;
            }
            label{
              width: 60px;
              .textAlignJustify();
            }
            i{margin-right: 5px;}
            span{.flex(1);height: auto;}
          }
        }
      }
      >.model-table{
        .table-title{
          margin-top: 5px;
          text-align: center;
          font-size: @font-size-h4;
          line-height: @font-size-h3;
          padding: 6px;
        }
        table{
          width: 100%;
          max-width: 100%;
          margin-bottom: @line-height-computed;
          // Cells
          > thead,
          > tbody,
          > tfoot {
            > tr {
              > th,
              > td {
                padding: @table-cell-padding;
                line-height: @line-height-base;
                vertical-align: top;
                border-bottom: @p-border;
              }
              &.area-row,&.sum-price{
                > th,
                > td {
                  border-bottom-color:transparent;
                }
              }
            }
          }
          > thead > tr > th {
            vertical-align: bottom;
            border-bottom: @m-border;
          }
          > caption + thead,
          > colgroup + thead,
          > thead:first-child {
            > tr:first-child {
              > th,
              > td {
                border-top: 0;
              }
            }
          }

          > tbody + tbody {
            //border-top: @p-border;
          }
          >tfoot{
            border-top: @m-border;
          }
          .table {
            background-color: @body-bg;
          }
        }
        .setSpace();
      }
    }
    //收银明细打印清单
    .detailed-preview{.detailed-preview();}
    //工程布置打印清单
    .decorate-preview{.decorate-preview();}
  }
  @media screen {
    .print-setup {
      padding: 10px;
      margin: 20px auto;
      width: 210mm;
      background-color: #f0f0f0;
      border: 1px solid @btn-default-border;
      border-radius: 4px;
      .btn{
        margin-left: 4px;
        margin-right: 4px;
      }
    }

    .print-preview {
      margin: 0;
      padding: 0;
      margin-bottom: 60px;
    }
  }
  @media print {
    .print-setup {
      display: none;
    }

    .print-preview {
      margin: 0;
      padding: 0;
    }

  }
}

.g-mainnav() {
  & {
    .transition(.3s);
    height: calc(100% - @g-topnav-h);
    position: fixed;
    top: @g-topnav-h;
    left: 0;
    z-index: (@zindex-navbar - 1);
    .u-mainnav {
      .u-mainnav();
    }
  }
  //@media screen and (min-width: @screen-sm-min){
  & {
    width: @g-mainnav-w;
    &.switch-mainnav {
      left: -@g-mainnav-w;
    }
  }
  //}

  //@media screen and (max-width: @screen-xs-max){
  //width: @g-mainnav-w;
  //left: -@g-mainnav-w;
  //&.switch-mainnav{
  //  left:0;
  //}
  //}
}

.u-mainnav() {
  @li-h: 50px;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  //文字前面留空隙
  @bg-1-u: #36394d;
  @bg-2-u: #242633;
  @bg-3-u: #122633;
  @pgl-1-a: 10px;
  @pgl-2-a: 20px;
  @pgl-3-a: 30px;
  @brt-color: #2a2d3e;
  @text-color: #fff;
  @text-font: 12px;
  @active-text-color: #4cace2;
  background-color: @bg-1-u;
  ul {
    background-color: @bg-1-u;
    li {
      .title {
        padding-left: @pgl-1-a
      }
      ul {
        background-color: @bg-2-u;
        li {
          .title {
            padding-left: @pgl-2-a
          }
          ul {
            background-color: @bg-3-u;
            li {
              .title {
                padding-left: @pgl-3-a
              }
            }
          }
        }
      }
    }
  }
  .main-menu {
    li {
      position: relative;
      border-top: 1px solid @brt-color;
      .title {
        position: relative;
        display: block;
        cursor: pointer;
        font-size: @text-font;
        height: @li-h;
        line-height: @li-h;
        color: @text-color;
      }
      &.active .title, .title:hover, .title:active {
        color: @active-text-color;
      }
      &.active {
        border-left: 3px solid @active-text-color;
      }
      ul {
        height: 0;
        .transition(.3s);
        overflow: hidden
      }
      &.unfold > ul {
        height: auto;
      }
    }
    .item-menu {
      > .title {
        .glyphicon-menu-up();
        &:before {
          .glyphicon();
          display: block;
          position: absolute;
          z-index: 10;
          height: @li-h;
          line-height: @li-h;
          font-size: @text-font;
          color: @text-color;
          right: 10px;
          top: 0;
          text-align: center;
          .transition(.3s);
          .rotate(360deg);
        }
      ;
        &:hover, &:active {
          &:before {
            color: @active-text-color;
          }
        }
      }
      &.unfold > .title:before {
        .rotate(180deg);
      }
    }
  }
}

.g-topnav() {
  @bg-c: @progress-bar-info-bg;
  position: fixed;
  top: 0;
  left: 0;
  z-index: @zindex-navbar;
  width: 100%;
  height: @g-topnav-h;
  background-color: @bg-c;
  .transition(.3s);
  @text-color: #fff;
  .u-topnav {
    .brand-box {
      a {
        float: left;
        padding: 0 15px;
        font-size: 18px;
        line-height: @g-topnav-h;
        height: @g-topnav-h;
        color: @text-color;
        & {
          .glyphicon-menu-hamburger();
          &:before {
            .glyphicon();
            display: inline-block;
            position: relative;
            margin-right: 5px;
            font-size: 18px;
            line-height: @g-topnav-h;
            color: #fff;
            right: 0;
            top: 3px;
            text-align: center;
          }
        ;
        }
      }
    }

    //@media screen and (min-width: @screen-sm-min){
    .nav-box {
      float: right;
      .switch-menu {
        display: none;
      }
      .top-menu {
        li {

          display: inline-block;
          height: @g-topnav-h;
          a {
            padding: 0 15px;
            font-size: 12px;
            line-height: @g-topnav-h;
            color: @text-color;
          }
        }
      }
    }
    //}
    @media screen and (max-width: @screen-xs-max) {
      //.nav-box{
      //  float: right;
      //  .switch-menu{
      //    width: @g-topnav-h;
      //    height: @g-topnav-h;
      //    .glyphicon-cog();
      //    &:before{
      //      .glyphicon();
      //      display: block;
      //      z-index: 10;
      //      height: @g-topnav-h;
      //      line-height: @g-topnav-h;
      //      font-size: 18px;
      //      color: @text-color;
      //      text-align: center;
      //      .transition(.3s);
      //      .rotate(360deg);
      //    };
      //  }
      //  .top-menu{
      //    border-radius: 4px;
      //    display: none;
      //    overflow: hidden;
      //    @li-h:30px;
      //    @br-c: darken(@bg-c,20%);
      //    background-color: #fff;
      //    position: absolute;
      //    top:@g-topnav-h;
      //    right: 0;
      //    margin-top: -10px;
      //    min-width: 120px;
      //    border: 1px solid #ccc;
      //    padding: 4px 0;
      //    li{
      //      display: block;
      //      text-align: center;
      //      height:@li-h;
      //      &:first-child{ border-top-style: none; }
      //      &:hover,&:active{
      //        background-color: #eee;
      //      }
      //      a{
      //        display: block;
      //        padding: 0 12px;
      //        font-size: 12px;
      //        line-height: @li-h;
      //        color: #000;
      //      }
      //    }
      //  }
      //}
    }
  }
}

.g-content() {
  .transition(.3s);
  //height: 100%;
  height: calc(100% - @g-topnav-h);
  overflow: auto;
  margin-top: @g-topnav-h;
  &.fullshow {
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-top: 0;
  }
  //pad端与pc端
  //@media screen and (min-width: @screen-sm-min){
  width: calc(100% - @g-mainnav-w);
  margin-left: @g-mainnav-w;
  &.hide-nav {
    width: 100%;
    margin-left: 0;
  }
  .m-view {
    padding: 20px;
  }
  //}
  //手机端
  @media screen and (max-width: @screen-xs-max) {

  }

  ///欢迎界面
  .m-welcome-view {
    .m-welcome-view();
  }
}

.u-grid-table() {
  border: 1px solid @theme-table-border-color;
  border-radius: 4px;
  //overflow: hidden;
  .container, .container-fluid {
    padding: 0;
  }
  .grid-top {
    border-bottom: 1px solid @theme-table-border-color;
    background-color: @theme-table-thead-color;
    .clearfix();
    .grid-btn-group {
      float: right;
      .g-btn-box(@g-header-h);
    }

    .grid-title {
      padding: 0 12px;
      color: @theme-table-title-font-color;
      font-size: @theme-table-title-font-size;
      line-height: @g-header-h;
      &:before {
        .glyphicon();
        content: "\e055";
        top: 2px;
        margin-right: 5px;
      }
    }
  }
  .grid-table {
    & {
      border-spacing: 0;
      border-collapse: collapse;
      display: table;
      background-color: @theme-table-bg-color;
      width: 100%;
      > .grid-thead {
        overflow: hidden;
        background-color: @theme-table-thead-color;
        .row {
          .col{
            padding: 8px;
            color: @theme-table-thead-font-color;
            font-size: @theme-table-thead-font-size;
            font-weight: 400;
          }
        }

      }
      > .grid-tbody {
        background-color: @theme-table-tbody-color;
        border-top: 1px solid @theme-table-border-color;
        //overflow: hidden;
        .col {
          height: 40px;
          //overflow: hidden;
          padding: 5px;
          color: @theme-table-tbody-font-color;
          font-size: @theme-table-tbody-font-size;
          font-weight: 400;
          .col-text {
            font-size: @theme-table-tbody-font-size;
          }
          input{background-color: transparent;}
        }
        .col:nth-child(-n+8) {
          max-width: 30vw;
        }
        .col:nth-child(-n+6) {
          max-width: 35vw;
        }
        .col:nth-child(-n+3) {
          max-width: 40vw;
        }
        .col:nth-child(n+9) {
          max-width: 25vw;
        }
        .col:nth-child(n+12) {
          max-width: 15vw;
        }
        .row {
          &:hover {
            background-color: @theme-table-select-row-color;
          }
          &.warn{
            background-color: @theme-table-warn-row-color;
          }
        }
      }
      > .grid-tfoot {
        background-color: @theme-table-tfoot-color;
        border-top: 1px solid @theme-table-border-color;
        td[colspan] {
          width: 100%;
        }
      }
      &.multi-line{
        >.grid-thead
        //,> .grid-tbody
        {
          .col {
            border-right: 1px solid @theme-table-border-color;
            &:last-child {
              border-right-style: none;
            }
            text-align: center;
          }
        }
      }
      .row {
        border-bottom: 1px solid @theme-table-border-color;
        margin: 0;
        &:last-child {
          border-bottom-style: none;
        }
        .col {
          width: auto;
          //border-right: 1px solid @theme-table-border-color;
          &:last-child {
            border-right-style: none;
          }
        }
      }
      .photo-box {
        .displayFlex();
        .justifyContentCenter();
        .alignItemsCenter();
        @photo-sm: 60px;
        @photo-md: 120px;
        @photo-lg: 180px;
        @photo-default: @photo-sm;
        .max-square(@photo-default);
        &.photo-sm {
          .max-square(@photo-sm);
        }
        &.photo-md {
          .max-square(@photo-md);
        }
        &.photo-lg {
          .max-square(@photo-lg);
        }
        img {
          flex: -moz-available;
          .max-square(100%);
          .square(auto);
        }
      }
      .checked-box {
        @size: 25px;
        @checked-color: @brand-primary;
        .square(@size);
        .checked-state {
          .square(100%);
          &:before {
            .glyphicon();
            content: " ";
            font-size: @font-size-h5;
            display: block;
            .square(@size);
            line-height: (@size - 2px * 2);
            text-align: center;
            border-radius: 50%;
            color: @checked-color;
            border: 2px solid @checked-color;
          }
        }
        &.checked {
          .checked-state:before {
            content: "\e013";
          }
        }
      }
      .input-group{
        input.form-control{
          left: 0;
        }
      }
    }
  }
  .ctl-btn-box {
    .ctl-btn {
      .btn();
      margin: 0 4px;;
      .glyphicon();
      top: 0;
      min-width: 40px;
      font-size: @theme-table-tbody-font-size;
      &:hover {
        color: #fff;
      }

      &:last-child {
        margin-right: 0;
      }
      &.work {
        .btn-info();
        font-weight: bold;
        padding: 4px 6px 8px 6px;
      }
      &.work-red {
        .btn-danger();
        font-weight: bold;
        padding: 4px 6px 8px 6px;
      }

      &.modify {
        .btn-info();
        .glyphicon-pencil();
      }
      &.download {
        .btn-info();
        &:before {
          content: "\e134";
        }
      }
      &.delete {
        .btn-danger();
        .glyphicon-trash();
      }
      &.detail {
        .btn-info();
        &:before {
          content: "\e105";
        }
      }
      &.photo {
        .btn-info();
        &:before {
          content: "\e060";
        }
      }
      &.submit {
        .btn-danger();
        &:before {
          content: "\e013";
        }
      }

    }
  }
}

.u-page-box() {
  width: 100%;
  @media screen and (min-width: @screen-sm-min) {
    .page-box {
      float: right;
      .clearfix();
      .page-text {
        display: inline-block;
        padding: 6px 12px;
        margin: 10px 0;
        float: left;
      }
      .pagination {
        margin: 10px 20px 10px 0;
        float: right;
      }
    }
  }
  @media screen and (max-width: @screen-xs-max) {
    .page-box {
      text-align: center;
      .page-text {
        display: block;
        padding: 6px 12px;
        margin: 0 auto;
      }
      .pagination {
        margin: 0 auto;
      }
    }
  }
}

.u-sift-box() {
  background-color: @theme-bg-color;
  border-radius: 4px;
  border: 1px solid @theme-table-border-color;
  margin-bottom: 20px;
  .u-header-body();
  .header {
    span {
      &:before {
        .glyphicon();
        content: "\e003";
      }
    }
  }
  .body {
    padding: 10px;
    & {
      font-size: 0;
      .ctl-btn-box {
        display: inline-block;
        margin-bottom: 5px;
        margin-right: 5px;
        position: relative;
        top: -2px;
        .btn {
          min-width: 80px;
          .btn-info();
          margin-right: 6px;
        }
      }
      .form-group {
        .form-control {
          font-size: 13px;
        }
        span {
          font-size: 14px;
        }
        > .input-group {
          > .input-group-btn {
            > .btn {
              border-radius: 0;
            }
            &:last-child {
                > .btn {
                  .border-right-radius(4px);
                }
            }
          }
          .clearfix();
          margin-bottom: 5px;
          margin-right: 5px;
          width: 280px;
        }
        .input-group-btn {
          .btn {
            width: 100%;
          }
        }
        margin-bottom: 0;
      }
    }
  }

}

.g-btn-box(@height:@g-header-h) {
  right: 0;
  top: 0;
  height: @height;
  padding: 0;
  margin: 0;

  &{
    .displayFlex();
    .justifyContentSpaceBetween();
    .alignItemsCenter();
    .btn {
      .glyphicon();

      top: 0;
      &:before {
        position: relative;
        top: 0;
        font-family: 'Glyphicons Halflings';
        font-size: 12px;
      }

      //默认按钮风格
      &{
        .btn-info();
        border-radius: 2px;
        line-height: 14px;
        padding: 6px 8px;
        margin: 5px;
        font-family: @font-family-base;
      }

      //按钮风格带背景
      & {
        //.btn-info();
        //margin: 0;
        //border-radius: 0;
        //line-height: (@height - 12px - 4px);
        //padding: 6px 18px;
      }

      //按钮风格不带背景
      & {
        //margin: 0;
        //border-radius: 0;
        //line-height: (@height - 12px - 4px);
        //padding: 6px 25px;
        //border-color: transparent;
        //background-color: transparent;
        //color: @brand-primary;
        //&:hover,&:active{
        //  background-color: @brand-info;
        //  &:before,&{
        //    color: #fff;
        //  }
        //}
        //&:before{color: @brand-primary;}
        //
        //&:first-child{border-left-color: transparent;}
        //&:last-child{border-right-color: transparent;}
      }

    }
  }

}

///--未使用的---begin/
& {
  //.u-menu-select{.u-menu-select();}

  //.u-text-list{.u-text-list();}
}

///--未使用的---end/

//微调BootStrap样式
& {
  .modal {
    text-align: center;
    background-color: fade(#000, 50%);
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 0;
    > * {
      font-size: @font-size-base;
    }

    &:before {
      content: " ";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
      width: 0;
      visibility: hidden;
    }
    .modal-dialog {
      text-align: left;
      vertical-align: middle;
      display: inline-block;
      margin: 0;
    }
    .modal-content {

    }
    .modal-header {
      background-color: @default-bg;
      .border-top-radius(6px);
      overflow: hidden;
    }
    .modal-body {
      //max-height: calc(100vh - 180px);
      //overflow-y: auto;
      //overflow-x: hidden;
      .form-group {
        > .input-group, > fieldset > .input-group {
          margin-top: 5px;
          margin-bottom: 5px;
        }
      }
    }
    .modal-footer {
      background-color: @default-bg;
      .border-bottom-radius(6px);
      overflow: hidden;
      position: relative;
      .error-hint, .use-hint {
        display: block;
        text-align: left;
        line-height: 20px;
        font-size: 14px;
      }
      .error-hint {
        color: @brand-danger;
      }
      .use-hint {
        color: @brand-primary;
      }
    }

    .modal-download {
      width: 500px;
      .modal-header {
        padding: 4px 6px;
        border-bottom: 1px solid #ccc;
        .modal-title {
          font-size: @font-size-h5;
          color: #333;
        }
        .close {
          span, span:before {
            color: #333;
          }
        }
        background-color: #D8D6D8;
      }
      .modal-body {
        padding: 0;
        height: 400px;
        overflow: auto;
      }
      .modal-footer {
        display: none;
      }
    }
  }
  .dropdown-date {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 2px;
    width: 100%;
    z-index: @zindex-tooltip;
  }
  .form-group {
    > .input-group, > fieldset > .input-group {
      &.not-null {
        &:after {
          content: "*";
          display: block;
          position: absolute;
          color: #fa0000;
          font-size: 24px;
          height: 24px;
          right: 100%;
          top: 50%;
          margin-top: -12px;
          margin-right: 2px;
        }
      }
    }
  }

  //input-group 颜色调整
  &{
    .input-group-addon{
      background-color: @theme-table-thead-color;
      border-color:@theme-table-border-color;
    }
    .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
      background-color: @theme-table-thead-color;
    }
    .form-control{
      border-color:@theme-table-border-color;
      .box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.035);)
    }
  }

  & {
    .form-group {
      > .input-group, > fieldset > .input-group {
        > div:last-child {
          > .input-group {
            div:last-child {
              button {
                .border-right-radius(4px);
              }
            }
          }
        }
      }
    }
    .form-control-group {
      display: table-cell;
      width: 100%;
      float: left;
      .input-group {
        width: 100%;
        margin: 0;
      }
      .input-group-btn {
        position: static;
      }
      input {
        border-radius: 0;
      }
      .dropdown-menu {
        width: 100%;
        margin-top: 1px;
        max-height: 250px;
        overflow: auto;
        li {
          a {
            padding: 8px 20px;
          }
        }
      }
    }
  }
  .radio-group {
    display: flex;
    justify-content: space-around;
    align-content: center;
    > label {
      margin: 1px 3px;
      > input {
        margin-right: 4px;
      }
    }
  }
  .link-default {
    .link(#000);
  }
  .link-info {
    .link(@brand-info);
  }
  .link-warning {
    .link(@brand-warning);
  }
  .link-success {
    .link(@brand-success);
  }
  .link-primary {
    .link(@brand-primary);
  }
  .link-danger {
    .link(@brand-danger);
  }
  .link(@color) {
    &, &:link, &:visited {
      padding: 2px 4px;
      text-decoration: underline;
      color: @color;
      cursor: pointer;
    }
    &:hover, &:active {
      color: darken(@color, 10%);
      text-decoration: underline;
      background-color: fade(@color, 30%);
      border-radius: 2px;
    }
  }
  .form-control {
    font-size: 13px;
  }
  .form-inline .input-group .input-group-addon {
    width: 1%;
  }

  .addon-length-6 {
    .addon-length(6);
  }
  .addon-length-5 {
    .addon-length(5);
  }
  .addon-length-4 {
    .addon-length(4);
  }
  .addon-length-3 {
    .addon-length(3);
  }
  .addon-length-2 {
    .addon-length(2);
  }

  .size-base {
    font-size: @font-size-base;
  }
  .size-small {
    font-size: @font-size-small;
  }
  .size-large {
    font-size: @font-size-large;
  }

  //pad端与pc端
  @media screen and (min-width: @screen-sm-min) {
    .u-space-smail {
      margin-bottom: 5px;
      margin-top: 5px;
    }

    .u-space {
      margin-bottom: 15px;
      margin-top: 15px;
    }

    .u-space-large {
      margin-bottom: 30px;
      margin-top: 30px;
    }
  }
  //手机端
  @media screen and (max-width: @screen-xs-max) {
    .u-space-smail {
      margin-bottom: 3px;
      margin-top: 3px;
    }

    .u-space {
      margin-bottom: 10px;
      margin-top: 10px;
    }

    .u-space-large {
      margin-bottom: 20px;
      margin-top: 20px;
    }
  }

}

//日历
.datepicker() {
  @select-font-color: #fff;
  @select-backgroundColor: #ff3e3e;
  @today-font-color: #fff;
  @today-backgroundColor: #FF9A99;
  @default-font-color: #000;
  @default-font-size: 12px;
  @group-space: 1rem;
  font-size: 12px;
  height: 0;
  min-height: 200px;
  .datepicker {
    & {
      height: 100%;
      background: #F9F9F9;
      border: 1px solid #dddddd;
      border-radius: 6px;
      overflow: hidden;
    }
    .datepicker-group {
      width: 100%;
      height: 100%;
      .datepicker-header {
        //日历标题
        position: relative;
        padding-right: 40px;
        padding-left: 40px;
        height: 18%;
        .left-btn-box {
          position: absolute;
          left: 0;
          top: 0;
          width: 40px;
          height: 100%;
          .icon-left-btn {
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -10px;
            margin-top: -10px;
            //.icon-date-left-array();
            &:before {
              .glyphicon();
              font-size: 16px;
              line-height: 20px;
              content: "\e132";
            }
          }
          &:active, &:hover {
            .icon-left-btn:before {
              color: @select-backgroundColor;
            }
          }
        }
        .right-btn-box {
          position: absolute;
          right: 0;
          top: 0;
          width: 40px;
          height: 100%;
          .icon-right-btn {
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -10px;
            margin-top: -10px;
            &:before {
              .glyphicon();
              font-size: 16px;
              line-height: 20px;
              content: "\e131";
            }

          }
          &:active, &:hover {
            .icon-right-btn:before {
              color: @select-backgroundColor;
            }
          }
        }
        .date-title-box {
          height: 100%;
          .displayFlex();
          .justifyContentCenter();
          .alignItemsCenter();
          text-align: center;
          .date-year {
          }
          .date-month {
          }
        }
      }
      //日历展示
      table.datepicker-calendar {
        border-collapse: collapse;
        border-top: 1px solid #fff;
        background-color: #fff;
        text-align: center;
        width: 100%;
        height: 82%;
        thead {
          background: #F7F7F7;
          tr {
            th {
              height: 30px;
              span {
                padding: 5px;
                font-size: 14px;
              }
              &.rest-date {
                span {
                  color: red;
                }
              }
              &.work-date {
              }
            }
          }

        }
        tbody {
          height: 75%;
          tr {
            td {
              //height: 20px;
              span {
                color: @default-font-color;
                font-size: @default-font-size;
                display: block;
              }
              &.before-day-number {
                span {
                  color: #cacaca;
                  font-weight: 100;
                }
              }
              &.day-number {
                cursor: pointer;
                &.state-today {
                  background-color: @today-backgroundColor;
                  span {
                    color: @today-font-color;
                  }
                }
                &.state-select, &:active, &:hover {
                  background-color: @select-backgroundColor;
                  span {
                    color: @select-font-color;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.addon-length(@length;) {
  @default-w: 25px;
  @font-size: 14px;
  .input-group {
    .input-group-addon {
      min-width: (@default-w + @font-size * @length);
    }
  }
  .textarea-box {
    .title {
      min-width: (@default-w + @font-size * @length);
    }
  }
}

//文本框调整
& {
  .remark-textarea {
    min-height: 90px;
  }
}

//新样式菜单选择框
.u-menu-select-2() {
  @li-h: 20px;
  //文字前面留空隙
  @select-bg: #f0f0f0;
  @bdr-color: #d6d6d6;
  @text-font: 12px;
  @before-size: 16px;
  @before-border-size: 2px;
  @text-color: #fff;
  @active-text-color: #fff;
  @text-bg-color: #d56442;
  @parent-text-bg-color: #6AA3D5;
  @fold-color: #000;
  @check-color: #666;
  .menu-title {
    margin-bottom: 5px;
    .title {
      font-size: @font-size-h5;
    }
  }
  .menu-select {
    min-height: 45vh;
    max-height: 45vh;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    .menu-select();
  }
  //列表布局
  .menu-select() {
    border-radius: 5px;
    border: 1px solid @bdr-color;
    background-color: @select-bg;
    height: 100%;
    padding-top: 5px;
    margin-left: 3px;
    .main-menu {
      .square(100%);
      li {
        position: relative;
        padding-left: 20px;
        .select-btn {
          .glyphicon();
          background-color: #ccc;
          border-radius: 2px;
          border: 1px solid #999999;
          position: absolute;
          .square((@before-size));
          top: (@li-h -  @before-size + 2px);
          left: (@li-h -  @before-size);
          &:before {
            color: @check-color;
            content: "";
          }
        ;
        }
        &.active > .select-btn:before {
          content: "\e013";
        }
        .title {
          cursor: pointer;
          position: relative;
          display: inline-block;
          font-size: @text-font;
          margin: ((@li-h - @before-size)/2);
          padding: (@before-size - @text-font) ((@before-size - @text-font)*2);
          line-height: @before-size;
          color: @text-color;
          background-color: @text-bg-color;
          border-radius: 4px;
        }
        &.active > .title, > .title:hover, > .title:active {
          color: @active-text-color;
        }
        ul {
          height: 0;;
          overflow: hidden
        }
        &.unfold > ul {
          height: auto;
        }
      }
      .item-menu {
        > .title {
          background-color: @parent-text-bg-color;
          &:before {
            .glyphicon();
            display: inline-block;
            margin-right: 3px;
            margin-top: 1px;
            color: @fold-color;
            content: "\e081";
          }
        ;
        }
        &.unfold > .title:before {
          content: "\e082";
        }
        & {
          //修改展开标志位置,隐藏组选择
          > .select-btn {
            display: none !important;
          }
        ;
          > .title:before {
            line-height: @before-size;
            position: absolute;
            right: 100%;
            top: 50%;
            margin-top: (-@before-size / 2);
          }
        }
      }
    }
    .main-menu {
      li {
        &:before {
          content: "";
          display: block;
          position: absolute;
          width: 100px;
          height: (@li-h + (@li-h - @before-size));
          top: 0;
          left: 0;
          z-index: 0;
        }
      }
    }
  }
}

//图片上传
.u-upload-image() {
  @radius-size: 4px;
  border: 1px solid @table-border-color;
  border-radius: @radius-size;
  min-height: 260px;
  .displayFlex();
  .flexDirectionColumn();
  .error-hint {
    font-size: @font-size-h5;
    display: block;
    line-height: @font-size-h4;
    color: @brand-danger;
    text-align: center;
  }
  .u-progress {
    @pdg-w: 60px;
    @h: 30px;
    padding: ((@h - 4)/2) @pdg-w;
    position: relative;
    height: @h;
    .progress {
      margin-top: 0;
      margin-bottom: 0;
      &.progress-small {
        height: 4px;
        .progress-bar {
          font-size: 0;
        }
      }
    }
    .progress-number, .progress-hint {
      position: absolute;
      width: @pdg-w;
      top: 50%;
      height: 20px;
      line-height: 20px;
      margin-top: -10px;
      color: @brand-primary;
      font-size: @font-size-h6;
      padding: 0 3px;
    }
    .progress-number {
      right: 0;
      text-align: left;
    }
    .progress-hint {
      left: 0;
      text-align: right;
    }
  }
  .upload-box {
    padding: @radius-size;
    border-bottom: 1px solid @table-border-color;
    .displayFlex();
    .alignItemsCenter();
    & {
      .select-btn {
        .order(1);
        .btn();
        .btn-info();
        .btn-sm();
      }
      input[type="file"] {
        display: none;
      }
      .file-path {
        padding-left: 10px;
        .order(2);
        .flex(1);
        width: 100%;
        background-color: transparent;
      }
      .upload-btn {
        .order(3);
        .btn();
        .btn-info();
        .btn-sm();
      }
    }
  }

  .fixed-box() {
    .photo-box {
      .flex(1);
      height: auto;
      .max-box {
        position: absolute;
        top: 0;
        left: 0;
        .square(100%);
        padding: @radius-size;
        .displayFlex();
        .justifyContentCenter();
        .alignItemsCenter();

      }
    }
  }
  .fixed-box();
  .photo-box {
    position: relative;
    .displayFlex();
    .flexDirectionColumn();
    .justifyContentCenter();
    .alignItemsCenter();
    img {
      .max-square(100%);
      .square(auto);
    }
  }
}

.img-loading() {
  img, & {
    .res-loading();
    -webkit-background-size: 60px;
    background-size: 60px;
    min-height: 60px;
    min-width: 60px;
  }
}

.img-loading {
  .img-loading();
}

//选择记录-带筛选
.u-item-find() {
  .u-sift-box {
    margin-bottom: 0;
    .border-bottom-radius(0);
    border-bottom-style: none;
    .grid-title {
      &:before {
        display: none;
      }
    }
    .body .form-group > .input-group {
      width: 270px;
    }
  }
  .u-grid-table {
    .u-grid-table-edit();
    .border-top-radius(0);
    .grid-title {
      &:before {
        display: none;
      }
    }
    .grid-tbody .row {
      &:hover, &.active {
        background-color: @brand-info;
      }
    }
  }
}

.photo-box {
  .displayFlex();
  .justifyContentCenter();
  .alignItemsCenter();
  .square(100%);
  img {
    .max-square(100%);
    .square(auto);
  }
}

.u-download-box {
  height: 100%;
  .displayFlex();
  .flexDirectionColumn();
  .toolbar-box {
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
    .displayFlex();
    .option-group-box {
      .flex(1);
      ul {
        height: 100%;
        .displayFlex();
        li {
          padding: 6px 12px;
          .flex(1);
          text-align: center;
          cursor: pointer;
          &.active {
            background-color: @brand-info;
            color: #ffffff;
            cursor: default;
          }
        }
      }
    }
    .ctl-box {
      .displayFlex();
      .alignItemsCenter();
      padding: 4px;
    }

    .refresh-btn {
      display: inline-block;
      width: 40px;
      text-align: center;
      cursor: pointer;
      font-size: @font-size-h4;
      &:before {
        .glyphicon();
        content: "\e031";
        top: 2px;
      }
      &:hover {
        color: @brand-primary;
      }
    }
    .search-box {
      @btn-h: 25px;
      display: inline-block;
      overflow: hidden;
      border-radius: 4px;
      border: 1px solid @brand-primary;

      .displayFlex();
      input {
        width: 140px;
        height: @btn-h;
        font-size: @font-size-h6;

        font-weight: 200;

        padding-left: 6px;
      }
      .search-btn {
        padding: 0 4px;
        width: @btn-h;
        height: 100%;
        text-align: center;
        background-color: @brand-primary;
        color: #fff;
        line-height: @btn-h;
        font-size: 16px;
        &:before {
          .glyphicon();
          content: "\e003";
          top: 1px;
        }
      }
    }
  }
  .list-box {
    .flex(1);
    overflow: auto;
    ul {
      li {
        padding: 4px 8px;
        .displayFlex();
        //border-bottom: 1px solid @brand-info;
        //&:last-child{border-bottom-style: none;}
        .file-info {
          .flex(1);
          span {
            font-size: @font-size-h6;
            color: #666;
            margin-left: 5px;
          }
          .file-name {
            display: block;
            font-size: 16px;
            font-weight: 700;
            color: #333;
          }
        }
        .btn-group {
          .displayFlex();
          .alignItemsCenter();
          .justifyContentFlexEnd();
          span {
            display: inline-block;
            border-radius: 4px;
            .square(40px);
            padding: 0;
            text-align: center;
            &:before {
              .glyphicon();
            }
            &:hover {
              background-color: @brand-info;
            }
          }
          .other,
          .download,
          .edit,
          .delete {
            line-height: 40px;
            font-size: 20px;
            cursor: pointer;
            color: @brand-primary;
            &:before {
              top: 4px;
            }
            &.invalid {
              cursor: default;
              color: #666;
            }
          }
          .download:before {
            content: "\e026";
          }
          .other:before {
            content: "\e012";
          }
          .edit:before {
            content: "\270f";
          }
          .delete:before {
            content: "\e020";
            color: @brand-danger;
          }

          .exporting {
            .res-loading();
            background-size: 25px 25px;
            display: inline-block;
            &:hover {
              background-color: transparent;
            }
          }
        }
        &:hover {
          background-color: #f0f0f0;
        }
      }
    }
  }
}

//库存占用查看
.u-item-record() {
  @border-color: #ccc;
  background-color: @default-bg;
  border-radius: 4px;
  border: 1px solid @border-color;
  .u-info-box {
    margin-bottom: 0;
    .u-header-body();
    .border-bottom-radius(0);
    border-bottom: 1px solid @border-color;
    .body {
      padding: 10px;
      background-color: #fff;
    }
    .grid-title {
      &:before {
        display: none;
      }
    }
    .body .form-group > .input-group {
      width: 240px;
    }
    .form-group {
      margin-bottom: 0;
    }
  }
  .u-grid-table {
    .border-top-radius(0);
    border-style: none;
  }
}

//公用单子详情(出库,入库,采购,租赁)
.public-bill-info(){
  @m-b-c: @theme-table-drak-border-color;
  @m-b-s:1px;
  @p-b-c: @theme-table-border-color;
  @p-b-s:1px;

  @m-b:@m-b-s solid @m-b-c;
  @p-b:@p-b-s solid @p-b-c;

  @bg-color:@theme-bg-color;

  @tag-page-bg-color: @theme-header-color;

  background-color: @bg-color;
  border: @p-b;
  .u-header-body();
  //基本信息
  .bill-info-box{
    height: 100%;
    .body{
      .info-list{
        position: relative;
        ul{
          .displayFlex();
          .flexWrapWrap();
          align-content: flex-start;
          border-bottom: @p-b;
          li{
            .clearfix();
            width: 50%;
            padding: 8px 10px 2px;
            min-height: 31px;
            span{font-size: @font-size-h6;line-height: @font-size-h5;}
            .title{
              color: #999;
              float: left;
              margin-right: 10px;
              height: @font-size-h5;
              .textAlignJustify();
              width: 60px;
              position: relative;
              margin-left: 5px;
              &:before{
                content: ":";
                display: block;
                position: absolute;
                left: 100%;
                top: 0;
                margin-left: 2px;
                line-height: @font-size-h5;
              }
            }
            .text{
              float: right;
              font-size: @font-size-h5;
            }
            &{
              height: auto;
              span{}
              .title{}
              .text{
                float: none;
                font-size: @font-size-h6;
                position: relative;
                top: -4px;
                left: 5px;
              }
            }

            &:first-child{border-top-style: none; }
          }
        }
      }
    }
  }
  .list-box{
    .u-grid-table{
      .u-grid-table-edit();
      border-style: none;
    }
  }
  .bill-remark-box{
    height: auto;
    >.body{
      overflow: visible;
      font-size: 0;
      textarea{
        height: 100%;
        width: 100%;
        min-height: 120px;
        border-radius: 4px;
        padding:4px 8px;
        font-weight: 400;
        font-size: @font-size-h5;
        outline: none;
        resize: none;
      }
    }
  }

}
